@media screen and (max-width: 1200px) {
    .items {
        width: 33%  !important;
    }
}

@media screen and (max-width: 968px) {
    .items {
        width: 44%  !important;
    }
}

@media screen and (max-width: 648px) {
    .items {
        width: 88%  !important;
    }
}