.item-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;
}

.item:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

.item-title {
    position: absolute;
    color: #ececec;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: .6em;
    background-color: #1b1a20;
    cursor: default;
}

.item-img {
    width: 100%;
}

.item-name {
    position: relative;
    margin: 16px 0;
    padding: 0 20px;
    height: 45px;
    font-size: 16px;
}

.item-name::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #eabf00;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    font-size: 16px;
}

.item-price {
    height: 60px;
}

.val>b {
    font-size: 24px;
    margin-left: 5px;
}

.installment {
    color: #9c9b9b;
}

.item-btn {
    background-color: #1b1a20;
    color: #fff;
    padding: 15px 0;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    font-size: 16px;
}

.item:hover .item-btn {
    background-color: #eabf00;
}