.filters {
    width: 15%;
    margin-right: 15px;
}

.filters .title {
    margin-top: 2px;
    margin-bottom: 20px;
}

.filters-btn {
    display: inline-block;
    margin-bottom: 10px;
}

.filters-btn>label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 35px;
    height: 35px;
    font-size: .8em;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

.filters-btn>label>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: .8em;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #000;
    background-color: #ececec;
    border: 1px solid transparent;
}

.checkmark:hover {
    background-color: #ccc;
    border: 1px solid #000;
}

.filters-btn>label>input:checked~span.checkmark {
    border: 1px solid #000;
    background-color: #eabf00;
}